@font-face {
    font-family: 'BankGothic';
    src: url('BankGthd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BankGothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BankGothic', sans-serif;
}

p {
    font-family: 'BankGothic', sans-serif;
    line-height: 1.5;
}
